@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Cafe24Ohsquareair";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  cursor: default;
  background-color: rgb(255, 238, 86);
}

header > h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

main {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

aside.sideBar {
  flex: 1;
}

div.sideBar__wrapper {
  width: 180px;
  background-color: rgb(255, 121, 143);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
}

div.sideBar__wrapper > h3 {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: default;
}

li.sideBar__shop {
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(255, 192, 76);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

li.sideBar__shop:nth-child(1) {
  margin-bottom: 8px;
}

li.sideBar__shop:hover {
  font-weight: bold;
  background-color: lemonchiffon;
}

section.burger {
  flex: 3;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /*flex element간에 줄 수 있는 속성*/
}

article.burger__card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px;

  width: 48%;
  box-shadow: 2px 2px 2px rgb(192, 192, 192);
  padding: 10px;
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;
}

article.burger__card > img {
  width: 220px;
  height: 130px;
}

div.burger__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.burger__name {
  font-size: 20px;
  margin-bottom: 3px;
}

div.burger__price {
  font-size: 15px;
  margin-bottom: 5px;
}

p.burger__desc {
  font-size: 12px;
}

article.burger__card:hover {
  background-color: rgb(255, 192, 76);
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgb(192, 192, 192);
  transition: box-shadow 10ms ease-in-out, transform 10ms ease-in-out;
  transform: translateY(-5px);

  color: rgb(61, 61, 61);
}

aside.cart {
  flex: 1.5;
}

div.cart__wrapper {
  width: 280px;
  background-color: rgb(255, 121, 143);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

hr.cart__line {
  margin: 30px 0 20px;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 0;
}

div.cartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

div.cartBtn > button {
  font-family: "Cafe24Ohsquareair";
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  background-color: lemonchiffon;
}

div.cartBtn > button:hover {
  background-color: rgb(255, 192, 76);
}

div.cartBtn > button:active {
  font-weight: bold;
  background-color: rgb(255, 192, 76);
}

@media all and (min-width: 1110px) {
  aside#tabletView {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1110px) {
  aside#desktopView {
    display: none;
  }

  div.sideBar__wrapper {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 80px;
  }
}

@media (max-width: 940px) {
  article.burger__card {
    width: 95%;
  }
}
