* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Cafe24Ohsquareair";
}

ul {
    list-style: none;
}

@font-face {
    font-family: "Cafe24Ohsquareair";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
